.addBackgroundImage {
  background-image: url("../../../Image/HeaderImage/headerImage.jpg");
  width: 100%;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
